<!DOCTYPE html>
<html>
<head>
	<title>Pedalboard Patch Generator</title>
	<link rel="stylesheet" type="text/css" href="assets/css/main.min.css" />
	<script src="assets/js/main.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-dark z-2">
		<a class="sidenav-toggle"><i class="sidenav-toggle-logo fa fa-bars"></i></a>
		<a class="logo" href="/dashboard" style="font-size: 16pt; line-height: 43px;">
			<!--<img src="#" alt="App logo"> -->
			App Name
		</a>
	</nav>
	<div class="left-menu no-padding">
		<div>
			<div class="sidenav-logo"></div>
			<ul>
				<li>
					<a href="#">Instruments</a>
					<a href="#">Effects</a>
					<a href="#">Amplifiers</a>
					<a href="#">Patches</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="app" class="main-content">
		<div class="container">
			<div class="content">
				<div class="box">
					<div class="content">
						<h1>Pedalboard Patch Generator</h1>
						<div class="row">
							<effect-item v-for="effect in effects" v-bind:effect="effect" v-bind:effects="effects" class="col-xs-12 col-sm-6 col-md-4">
							</effect-item>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="container">
					<div class="text-center">
						<img src="#" alt="App logo" style="width: 150px; opacity: .4;">
						<p>App licensed under
							<a href="https://github.com/benjamindehli/pedalboard-patch-generator/blob/master/LICENCE">GNU General Public License</a>
						</p>
						<p><a href="#">About</a> - <a href="#">Developers</a> - <a href="#">Send feedback</a></p>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<template id="effect-item">
		<div>
			<div class="box primary z-1">
				<div class="box-header">
					<div class="content">
						<h3 class="box-title">{{ effect.brand }}<br/> <small>{{ effect.model }}</small></h3>
					</div>
				</div>
				<div class="content">
					<p>Inputs</p>
					<div v-for="input in effect.inputs">
						<div class="input-group">
							<select>
								<optgroup v-for="effect in effects" v-bind:label="effect.brand + ' ' + effect.model">
									<option v-for="output in effect.outputs">{{ output }}</option>
								</optgroup>
							</select>
							<label>{{ input }}</label>
						</div>
					</div>
					<p>Outputs</p>
					<div v-for="output in effect.outputs">
						<div class="input-group">
							<select>
								<optgroup v-for="effect in effects" v-bind:label="effect.brand + ' ' + effect.model">
									<option v-for="input in effect.inputs">{{ input }}</option>
								</optgroup>
							</select>
							<label>{{ output }}</label>
						</div>
					</div>
					<div v-if="effect.parameters.dials">
						<p>Switches</p>
						<div v-for="dial in effect.parameters.dials">
							<div class="input-group">
								<select>
									<option v-for="option in dial.options">{{ option }}</option>
								</select>
								<label>{{ dial.name }}</label>
							</div>
						</div>
					</div>
					<p>Potentiometers</p>
					<div v-for="potentiometer in effect.parameters.potentiometers">
						<div class="input-group">
							<input type="range" min="0" max="100" /><label>{{ potentiometer.name }}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
	
	<script>
		Vue.component('effect-item', {
			props: ['effect', 'effects'],
			template: '#effect-item'
		})


		var app2 = new Vue({
			el: '#app',
			data: {
				effects: [
				{ 
					brand: 'Electro-Harmonix',
					model: 'Deluxe Memory Man',
					parameters: {
						dials: [
						{
							name: "Chorus-Vibrato",
							options: [
							"chorus",
							"vibrato"
							]
						}
						],
						potentiometers: [
						{
							name: "Level",
							value: "0"
						},
						{
							name: "Blend",
							value: "0"
						},
						{
							name: "Feedback",
							value: "0"
						},
						{
							name: "Delay",
							value: "0"
						},
						{
							name: "Chorus-Vibrato",
							value: "0"
						}
						]

					},
					inputs: [
					"Input"
					],
					outputs: [
					"Echo out",
					"Direct out"
					]
				},
				{ 
					brand: 'Origin Effects',
					model: 'Cali76',
					parameters: {
						potentiometers: [
						{
							name: "Ratio",
							value: "0"
						},
						{
							name: "Attack",
							value: "0"
						},
						{
							name: "Release",
							value: "0"
						},
						{
							name: "Output",
							value: "0"
						},
						{
							name: "Input/Comp",
							value: "0"
						}
						]

					},
					inputs: [
					"Instrument"
					],
					outputs: [
					"Amplifier"
					]
				}
				]
			}
		})
	</script>
</body>
</html>