<!DOCTYPE html>
<html>
<head>
	<title>Pedalboard Patch Generator</title>
	<link rel="stylesheet" type="text/css" href="assets/css/main.min.css" />
	<script src="assets/js/main.js"></script>
</head>
<body>
	<nav class="navbar navbar-dark z-2">
		<a class="sidenav-toggle"><i class="sidenav-toggle-logo fa fa-bars"></i></a>
		<a class="logo" href="/dashboard" style="font-size: 16pt; line-height: 43px;">
			<!--<img src="#" alt="App logo"> -->
			App Name
		</a>
	</nav>
	<div class="left-menu no-padding">
		<div>
			<div class="sidenav-logo"></div>
			<ul>
				<li>
					<a href="#">Instruments</a>
					<a href="#">Effects</a>
					<a href="#">Amplifiers</a>
					<a href="#">Patches</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="app" class="main-content">
		<div class="container">
			<div class="content">
				<div class="box">
					<div class="content">
						<h1>Pedalboard Patch Generator</h1>
						<div class="row">
							<effect-item v-for="effect in effects" v-bind:effect="effect" v-bind:effects="effects" class="col-xs-12 col-sm-6 col-md-4">
							</effect-item>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<div class="container">
					<div class="text-center">
						<img src="#" alt="App logo" style="width: 150px; opacity: .4;">
						<p>App licensed under
							<a href="https://github.com/benjamindehli/pedalboard-patch-generator/blob/master/LICENCE">GNU General Public License</a>
						</p>
						<p><a href="#">About</a> - <a href="#">Developers</a> - <a href="#">Send feedback</a></p>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<template id="effect-item">
		<div>
			<div class="box primary z-1">
				<div class="box-header">
					<div class="content">
						<h3 class="box-title">{{ effect.brand }}<br/> <small>{{ effect.model }}</small></h3>
					</div>
				</div>
				<div class="content">
					<p>Inputs</p>
					<div v-for="input in effect.inputs">
						<div class="input-group">
							<select>
								<option>Unplugged</option>
								<optgroup v-for="(effect, effectIndex) in effects" v-bind:label="effect.brand + ' ' + effect.model">
									<option is="input-option" v-for="output in effect.outputs" v-bind:effect-index="effectIndex" v-bind:connected-to="output"></option>
									<!--<option v-for="output in effect.outputs" v-bind:value="{'index': effectIndex, 'connectedTo': output}">
										{{ output.name }}
									</option> -->
								</optgroup>
							</select>
							<label>{{ input.name }}</label>
						</div>
					</div>
					<p>Outputs</p>
					<div v-for="output in effect.outputs">
						<div class="input-group">
							<select>
								<option>Unplugged</option>
								<optgroup v-for="(effect, effectIndex) in effects" v-bind:label="effect.brand + ' ' + effect.model">
									<option is="output-option" v-for="input in effect.inputs" v-bind:effect-index="effectIndex" v-bind:connected-to="input"></option>
									<!--<option v-for="input in effect.inputs" v-bind:value="{'index': effectIndex, 'connectedTo': input}">{{ input.name }}</option>-->
								</optgroup>
							</select>
							<label>{{ output.name }}</label>
						</div>
					</div>
					<div v-if="effect.parameters.switches">
						<p>Switches</p>
						<div v-for="dial in effect.parameters.switches">
							<div class="input-group">
								<select>
									<option v-for="option in dial.options">{{ option }}</option>
								</select>
								<label>{{ dial.name }}</label>
							</div>
						</div>
					</div>
					<p>Potentiometers</p>
					<div v-for="potentiometer in effect.parameters.potentiometers">
						<div class="input-group">
							<input type="range" min="0" max="100" /><label>{{ potentiometer.name }}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>

	<script>
		function loadJSON(callback, path) {
			var xobj = new XMLHttpRequest();
			xobj.overrideMimeType("application/json");
			xobj.open('GET', path, false);
			xobj.onreadystatechange = function () {
				if (xobj.readyState == 4 && xobj.status == "200") {
					callback(xobj.responseText);
				}
			};
			xobj.send(null);
			return JSON.parse(xobj.responseText);
		}

		function getJsonFile(path) {
			var response = loadJSON(function (response) {
				var jsonResponse = JSON.parse(response);
			}, path);
			return response;
		}
	</script>

	<script>
		

		Vue.component('effect-item', {
			props: ['effect', 'effects'],
			template: '#effect-item',
			components: {
				'input-option': {
					props: ['effectIndex', 'connectedTo'],
					template: '<option>{{ connectedTo.name }}</option>'
				},
				'output-option': {
					props: ['effectIndex', 'connected-to'],
					template: '<option>{{ connectedTo.name }}</option>'
				}
			}
		})


		var app2 = new Vue({
			el: '#app',
			data: {
				selectedEffects: [
				{
					"id": "electro-harmonix-deluxe-memory-man",
					"name": "Electro-Harmonix Deluxe Memory Man"
				},
				{
					"id": "origin-effects-cali76",
					"name": "Origin Effects Cali 76"
				},
				{
					"id": "diamond-memory-lane-2",
					"name": "Diamond Memory Lane 2"
				}
				],
			},
			methods: {
				getJsonData: function (path) {
					var jsonData = loadJSON(function (response) {
						var jsonResponse = JSON.parse(response);
					}, path);
					return jsonData;
				}
			},
			computed: {
				effects: function(){
					var effects = [];
					this.selectedEffects.forEach(function(selectedEffect){
						effects.push(this.getJsonData("json/effects/" + selectedEffect.id + ".json"));
					}.bind(this));
					return effects;
				}
			}
		})
	</script>
</body>
</html>